@media only screen and (min-width: 1080px){
    
    html, body {
        display:flex;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url('contours.png'), url('noise.png'), url('gridlines.png'), url('huntington.jpg');
        background-repeat: repeat, no-repeat, repeat, no-repeat;
        background-attachment: fixed, scroll, fixed, scroll;
        background-size: 30%, 30%, 12%, 100%;
        background-position-y: -100px;
        
    }
    
    #grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 250px, auto;
        
    }
    
    /* TOP LEFT CELL LOGO */
    #box1 {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-top: 5px #325050;
        
        
    }
    /* TOP RIGHT NAV CELL */
    #box6 {
        grid-column: 2 / 3;
        grid-row: 1 / 2 ;
        background-color: #325050;
        opacity: 40%;
        /* height: 175px; */
    }
    /* ROAD TO ENLIGHTENMENT CELL */
    #box2 {
        background-color: #ffffff;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 30px;
        padding-left: 115px;
        
    }
    /* AUTHORS CELL */
    #box3 {
        background-color: rgb(230,237,233);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        
        
    }
    .authors{
        padding-left: 50px;
        padding-top: 30px;
    }
    .design {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.4em;
    }
    .by {
        font-family: 'Libre Baskerville', sans-serif;
        font-style: italic;
        font-size: 100%;
        color: rgba(58, 126, 118, 0.445);
    }
    
    .title {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 200%;
    }
    #auth1 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth2 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth3 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth4 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth5 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth6 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth7 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth8 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    /* PARTICIPATION CELL */
    #box4 {
        background-color: rgba(138,188,159,0.5);
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-image: url('contours.png'), url('gridlines.png'), url('bamboo.png');
        background-repeat: repeat, repeat, repeat;
        background-size: 50%, 12%, 50%;
        background-attachment: fixed, fixed, fixed;
        background-position-y: center;
        background-position-x: center;
        padding:30px;
        padding-left: 115px;
        
    }
    /* BOTTOM KOI CELL */
    #box5 {
        background-color: #000000ce;
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        text-align: center;
        height: 185px;
        opacity: 90%;
        background-color: #3e5d67;
        background-image: url('contours.png'), url('gridlines.png'), url('koi.jpg') ;
        background-size:  50%, 12%, 100%;
        background-attachment: scroll, fixed, fixed;
        background-position-y: -45px;
        padding-left: 100px;
        padding-right: 100px;
        justify-content: center;
        align-content: center;
        
        
    }

    /* BAMBOO RIGHT RESOURCES */
    #box7{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: rgb(177,206,188);
        background-image:  url('contours.png'), url('gridlines.png'), url('bamboo.png');
        background-repeat: repeat, repeat, repeat;
        background-size:  50%, 12%, 50%;
        background-attachment: fixed;
        background-position-y: center;
        background-position-x: center;
        list-style: none;
        padding-top: 45px;
        
    }
    ul:first-child {
        padding-top: 10px;
        border-top: 1px solid #a3bbab;
        width: 200px;
    }
    
    li {
        padding-top: 10px;
        padding-bottom: 18px;       
        border-bottom: 1px solid #a3bbab;
        line-height: 10pt;
        list-style: none;
        font-family: 'Libre Baskerville', serif;
        color: #134347;
        font-size: 8px;
        opacity: 80%;
    }
    /* REQUIREMENTS CELL */
    #box8{
        grid-row: 4 /5;
        grid-column: 1 / 2;
        padding: 30px;
        padding-left: 115px;
    }
    /* EMPTY CELL RIGHT OF REQUIREMENTS */
    #box9{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        background-color: rgb(229,236,232);
    }
    /* ICONS FOOTER */
    #box10{
        grid-column: 1 / -1;
        height: 125px;
        background-color: #134347;
    }
    .swirl{
        width: 125px;
        height: 125px;
        margin-top: 25px;
        margin-left: 100px;
    }
    h1{
        color: azure;
        /* float: right; */
        text-align: left;
        margin: 50px;
        padding-left: -100px;
    }
    p{
        font-family: 'Libre Baskerville', serif;
        font-size: 9px;
        line-height: 20px;
        /* margin: 15px 0; */
        
    }
    h1{
        font-family: 'Julius Sans One', sans-serif;
    }
    h1i{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 14px;
        color: #a9bfb4;
    }
    h2{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 16px;
    }
    .viewall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.11);
        color: #ffffff;
        margin-top:55px;
        /* margin-left: 75px; */
    }
    
    .viewall:hover {
        filter: invert(.9);
        
    }
    
    .viewall> div:first-child {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
    }
    
    .leftarrowbg {
        width: 50px;
        height: 50px; 
        background-color: rgba(13, 90, 100, 0.192);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(103%) contrast(102%);
        background-repeat: no-repeat;
        background-size: 36px;
        margin-top: 55px;
        margin-left: 30px;
        
    }
    .rightarrowbg{
        width: 50px;
        height: 50px; 
        background-color: rgba(13, 90, 100, 0.192);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(103%) contrast(102%);
        background-repeat: no-repeat;
        background-size: 36px;
        margin-top: 55px;
        
    }
    .leftarrow{
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        
    }
    .leftarrow:hover{
        filter: invert(.9);
    }
    .arrow {
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        }
    .arrow:hover{
        filter: invert(.9);
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1px;
        filter: opacity(.9);
    }
    f1{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 20px;
        color: #8da29b;
        line-height: 2;
        
        
        
        
    }
    f2{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: #a9bfb4;
    }
    

    .icons {
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        margin: auto;
        padding: 10px;
        fill: #e6f5eb;
        color: #89a1a3;
    }
    
    .icons > div {
        width: 100px;
        height: 100px;
        filter: invert(99%) sepia(4%) saturate(180%) hue-rotate(256deg) brightness(115%) contrast(94%);
        border-radius: 0%;
        transform: scale(.65);
    }
    
    #icon1 {
        background: url('html.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon1:hover {
        filter: invert(.6);
    }
    
    #icon2 {
        background: url('css.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon2:hover {
        filter: invert(.6);
    }
    
    #icon3 {
        background: url('CC.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon3:hover {
        filter: invert(.6);
    }
    
    #icon4 {
        background: url('wheel2.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon4:hover {
        filter: invert(.6);
    }
    
    #icon5 {
        background: url('github.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon5:hover {
        filter: invert(.6);
    }
}

@media only screen and (max-width: 1079px){
    
    html, body {
        display:flex;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url('contours.png'), url('noise.png'), url('gridlines.png'), url('huntington.jpg');
        background-repeat: repeat, no-repeat, repeat, no-repeat;
        background-attachment: fixed, scroll, fixed, scroll;
        background-size: 30%, 30%, 12%, 100%;
        background-position-y: -100px;
        
    }
    
    #grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows:  auto;
        
    }
    
    /* TOP LEFT CELL LOGO */
    #box1 {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-top: 5px #325050;
        
        
    }
    /* TOP RIGHT NAV CELL */
    #box6 {
        display: flex;
        grid-column: 2 / 3;
        grid-row: 1 / 2 ;
        background-color: #325050;
        opacity: 40%;
        /* height: 175px; */
    }
    /* ROAD TO ENLIGHTENMENT CELL */
    #box2 {
        background-color: #ffffff;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 30px;
        padding-left: 115px;
        
    }
    /* AUTHORS CELL */
    #box3 {
        background-color: rgb(230,237,233);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        
        
    }
    .authors{
        padding-left: 50px;
        padding-top: 30px;
    }
    .design {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.4em;
    }
    .by {
        font-family: 'Libre Baskerville', sans-serif;
        font-style: italic;
        font-size: 100%;
        color: rgba(58, 126, 118, 0.445);
    }
    
    .title {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 200%;
    }
    #auth1 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth2 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth3 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth4 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth5 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth6 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth7 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    
    #auth8 {
        border-bottom: 1px solid #a5c2af60;
        width: 60%;
    }
    /* PARTICIPATION CELL */
    #box4 {
        background-color: rgba(138,188,159,0.5);
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-image: url('contours.png'), url('gridlines.png'), url('bamboo.png');
        background-repeat: repeat, repeat, repeat;
        background-size: 50%, 12%, 50%;
        background-attachment: fixed, fixed, fixed;
        background-position-y: center;
        background-position-x: center;
        padding:30px;
        padding-left: 115px;
        
    }
    /* BOTTOM KOI CELL */
    #box5 {
        background-color: #000000ce;
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        text-align: center;
        height: 185px;
        opacity: 90%;
        background-color: #3e5d67;
        background-image: url('contours.png'), url('gridlines.png'), url('koi.jpg') ;
        background-size:  50%, 12%, 100%;
        background-attachment: scroll, fixed, fixed;
        background-position-y: -45px;
        padding-left: 100px;
        padding-right: 100px;
        justify-content: center;
        align-content: center;
        
        
    }

    /* BAMBOO RIGHT RESOURCES */
    #box7{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: rgb(177,206,188);
        background-image:  url('contours.png'), url('gridlines.png'), url('bamboo.png');
        background-repeat: repeat, repeat, repeat;
        background-size:  50%, 12%, 50%;
        background-attachment: fixed;
        background-position-y: center;
        background-position-x: center;
        list-style: none;
        padding-top: 45px;
        
    }
    ul:first-child {
        padding-top: 10px;
        border-top: 1px solid #a3bbab;
        width: 200px;
    }
    
    li {
        padding-top: 10px;
        padding-bottom: 18px;       
        border-bottom: 1px solid #a3bbab;
        line-height: 10pt;
        list-style: none;
        font-family: 'Libre Baskerville', serif;
        color: #134347;
        font-size: 8px;
        opacity: 80%;
    }
    /* REQUIREMENTS CELL */
    #box8{
        grid-row: 4 /5;
        grid-column: 1 / 2;
        padding: 30px;
        padding-left: 115px;
    }
    /* EMPTY CELL RIGHT OF REQUIREMENTS */
    #box9{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        background-color: rgb(229,236,232);
    }
    /* ICONS FOOTER */
    #box10{
        grid-column: 1 / -1;
        height: 125px;
        background-color: #134347;
    }
    .swirl{
        width: 125px;
        height: 125px;
        margin-top: 25px;
        margin-left: 100px;
    }
    h1{
        color: azure;
        /* float: right; */
        text-align: left;
        margin: 50px;
        padding-left: -100px;
    }
    p{
        font-family: 'Libre Baskerville', serif;
        font-size: 9px;
        line-height: 20px;
        /* margin: 15px 0; */
        
    }
    h1{
        font-family: 'Julius Sans One', sans-serif;
    }
    h1i{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 14px;
        color: #a9bfb4;
    }
    h2{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 16px;
    }
    .viewall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.11);
        color: #ffffff;
        margin-top:55px;
        /* margin-left: 75px; */
    }
    
    .viewall:hover {
        filter: invert(.9);
        
    }
    
    .viewall> div:first-child {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
    }
    
    .leftarrowbg {
        width: 50px;
        height: 50px; 
        background-color: rgba(13, 90, 100, 0.192);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(103%) contrast(102%);
        background-repeat: no-repeat;
        background-size: 36px;
        margin-top: 55px;
        margin-left: 30px;
        
    }
    .rightarrowbg{
        width: 50px;
        height: 50px; 
        background-color: rgba(13, 90, 100, 0.192);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(103%) contrast(102%);
        background-repeat: no-repeat;
        background-size: 36px;
        margin-top: 55px;
        
    }
    .leftarrow{
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        
    }
    .leftarrow:hover{
        filter: invert(.9);
    }
    .arrow {
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        }
    .arrow:hover{
        filter: invert(.9);
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1px;
        filter: opacity(.9);
    }
    f1{
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 20px;
        color: #8da29b;
        line-height: 2;
        
        
        
        
    }
    f2{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: #a9bfb4;
    }
    

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        width: 75%;
        margin: auto;
        padding: 10px;
        fill: #e6f5eb;
        color: #89a1a3;
    }
    
    .icons > div {
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;
        filter: invert(99%) sepia(4%) saturate(180%) hue-rotate(256deg) brightness(115%) contrast(94%);
        border-radius: 0%;
        transform: scale(.65);
    }
    
    #icon1 {
        background: url('html.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon1:hover {
        filter: invert(.6);
    }
    
    #icon2 {
        background: url('css.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon2:hover {
        filter: invert(.6);
    }
    
    #icon3 {
        background: url('CC.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon3:hover {
        filter: invert(.6);
    }
    
    #icon4 {
        background: url('wheel2.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon4:hover {
        filter: invert(.6);
    }
    
    #icon5 {
        background: url('github.png');
        background-repeat: no-repeat;
        transition-duration: 250ms;
    }
    
    #icon5:hover {
        filter: invert(.6);
    }
}





